*.log
*.aux
*.toc
*.glo
*.idx
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_STORE
/build
build/
*.iml
.idea
.project
.classpath

